#main-header {
    height: 13vw;
}

div.container {
    justify-content: space-between;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Mister Grape", cursive;
    width: 16%;
    text-shadow: 
    -1px -1px 0px black,  /* Top-left */
    1px -1px 0px black,   /* Top-right */
    -1px 1px 0px black,   /* Bottom-left */
    1px 1px 0px black;    /* Bottom-right */
}

cite > a {
    display: inline-block;
    width: 100px;
    height: 50px;
}

ul {
    margin: 0px; 
}

#sub-heading{
    text-align: left;
    margin-left: 30px;
}


body > header {
    background-color: rgb(210, 203, 203);
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#nav-ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
}


article > header {
    font-size: 26px;
    margin-left: 100px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 10px; 
    border: 2px solid white;
    border-radius:10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

body > article > main {
    margin: auto;
    width: 80%
    

}

#main-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

#main-content > div {
    width: 100%;
    margin: auto;
}


form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(210, 203, 203);
    display: flex;
}  


#footer-ul{
    display: flex;
    list-style: none;
} 

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
    font-family: "Mister Grape", cursive;
}